.formTask-wrapper{
    display: flex;
    margin-bottom: 10px;
}
.formTask-wrapper input{
    font-size: 18px;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border-color: darkgray;
    outline: none;
}
.formTask-wrapper button{
    margin-left: 10px;
    padding: 10px;
    border-radius: 4px;
}